.appFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
    width: 100vw;
    font-size: 1rem;
    background: #000;
}
a{
    padding: .5rem ;
    color: var(--ion-color-primary);
}
