<div class="main-article">
    <div *ngFor="let article of articles" class="article">
            <h2>{{article.name}}</h2>
        <img [src]="article.url" [alt]="article.description" [width]="article.largeur">
        <p>
            <span class="price">{{article.price}} € </span>
            <ion-badge color="success" *ngIf="article.promo">Promo</ion-badge>
        </p>
        <p class="desc">
            {{article.description}}
        </p>
        <ion-button expand="block" (click)="selectArticle(article.id);calculPanier();incrementTotalPanier();">Add to cart</ion-button>
    </div>
</div>