.article{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:inline-block;
    text-align: center;
    width: 85vw;
    
    margin: 1rem auto;
    padding: .2rem;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: rgb(75, 75, 75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    }
    
.main-article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
}
.price{
    font-size: 1em;
    font-weight: 600;
}
h2{
    color:var(--ion-color-primary);
    margin: .2rem 0;
}
p{
    margin: .2rem 0;
}
.desc{
    font-size: .7rem;
}
