#back {
  position: fixed;
  width: 100%;
  min-height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

#panier {
  position: relative;
  top: -5.3rem;
  width: 90%;
  height: 70vh;
  background-color: #fff;
  box-shadow: rgba($color: #000000, $alpha: .3) 2px 2px 2px;
  padding: .5rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.panier-items img {
  max-width: 30px;
}

li {
  display: flex;
  align-items: center;
}

.close {
  position: absolute;
  z-index: 10;
  right: .5rem;
  font-size: .5rem;
  font-weight: 800;
  font-size: 1rem;

}

.close:hover {
  cursor: pointer !important;
  color: #000000;
}

.panier-items {
  margin-left: 20px;
}

.livraison {
  font-size: 0.7em;
  font-style: italic;

}

.cartRub {
  display: inline-block;
}

.cardTitle {
  color: #3d64e6;
  font-size: 1.5rem;
}

.total {
  margin: 1rem 1rem 0 1rem;
  text-align: center;
  padding: .2rem;
  box-sizing: border-box;
  font-weight: 500;
  box-shadow: 4px 2px 5px 0px rgba(204, 204, 204, 1);
}

.remove {
  font-weight: 600;
}

.remove:hover {

  cursor: pointer !important;
}

.valider {
  padding: .5rem;
  margin: 1.5rem;
}
