
.logo{
    font-weight: 600;
}
.pan{
    position: relative;
}
.countPanier{
    position: absolute;
    padding-bottom: 1px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    width: 20px;
    height: 20px;
    background-color: rgb(18, 141, 223);
    color: white;
    border-radius: 50%;
    z-index: 5;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 0px solid #000000;
}
.menuBtn{
    font-size: .7rem;
    font-weight: 600;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.panBadge{
    position: relative;
}
.pill{
    position: absolute;
    right: -.2rem;
    top: -.2rem;
    z-index: 10;
}