<ion-header>
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label>Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" (click)="switchPanier()" name="cart">
    <ion-label>Cart {{panier.length}}</ion-label>
    <ion-icon name="cart"></ion-icon>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" name="Contact">
    <ion-label>Contact</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-chip>
</ion-header>
