<div class="menu">
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-label class="menuBtn">Home</ion-label>
    <ion-icon name="home"></ion-icon>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" (click)="switchPanier()" name="cart">
    <ion-label class="menuBtn">Cart </ion-label>
    <ion-icon name="cart"></ion-icon><ion-badge color="primary" slot="end">{{panier.length}}</ion-badge>
  </ion-chip>
  <ion-chip color="primary" mode="ios" outline="true" name="Contact">
    <ion-label class="menuBtn">Contact</ion-label>
    <ion-icon name="mail"></ion-icon>
  </ion-chip>
</div>
